body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    background-color: transparent;
    box-shadow: none;
}

.form-container h2 {
    margin-bottom: 25px;
    color: #333;
    font-size: 22px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
}

button {
    background-color: #917d53;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #695b3d;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #917d53;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}