body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f9;
    padding: 40px;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.add-button {
    display: inline-block;
    margin: auto;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    text-decoration: underline;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 6px;
    overflow: hidden;
}

th, td {
    padding: 14px 18px;
    text-align: left;
}

th {
    background-color: #917d53;
    color: white;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0f7fa;
}

.actions {
    white-space: nowrap;
}

.actions a {
    color: #917d53;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.actions a:hover {
    text-decoration: underline;
}
