body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f2f2;
    padding: 40px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.add-btn {
    display: inline-block;
    margin: auto;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #917d53;
    color: white;
}
td{
    color: black;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

.action-link {
    color: #917d53;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.action-link:hover {
    text-decoration: underline;
}