.termini-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 12px;
}

.termini-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.no-termins {
    text-align: center;
    color: #666;
    font-style: italic;
    margin-bottom: 20px;
}

.termini-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.termini-table th,
.termini-table td {
    padding: 12px 15px;
    border: 1px solid #ccc;
    text-align: center;
}

.termini-table th {
    background-color: #917d53;
    color: white;
}

.termini-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.form-buttons {
    margin-top: 30px;
    text-align: center;
}
td{
    color: black;
}
.form-buttons button {
    color: black;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form-buttons button:hover {
    text-decoration: underline;
}