<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Početna</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="auth-background">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="home-container left-aligned">
    <h1 class="hero-title">TATTO STUDIO "ZELJKO"</h1>

    <div sec:authorize="isAuthenticated()">
        <p th:text="'Ulogovani ste kao: ' + ${korisnik}" class="hero-subtext"></p>
        <a th:href="@{/termini/novi}">
            <button class="hero-button">Zakazi termin!</button>
        </a>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <p class="hero-subtext">Prijavite se ili registrujte da biste zakazali termin.</p>
    </div>

    <p th:if="${param.greska}" class="error-message">Greška pri unosu podataka</p>
</div>



</body>
</html>
